apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hello-app
  name: hello-deployment
  annotations:
    link.argocd.argoproj.io/external-link: https://hub.docker.com/repository/docker/yangxiaoze$
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-deployment
        image: yangxiaoze/hello-app:v1
        imagePullPolicy: Always
